body{
    background-color: rgb(54, 64, 90) ;
    font-family: 'Amiri', serif;
    width: 100vh;
    height: 100vh ;
}

p{
    font-weight: bold;
    color: rgb(206, 191, 253);
    
    }
    
    h2{
    color: rgb(255, 255, 255);
    
    
    }

 h3{

    color: rgb(255, 255, 255);
 }